@import url("https://fonts.googleapis.com/css?family=Hubballi");
@import url("./reset.css");
html, body {
  width: 100%;
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.08em;
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #ff8af2;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #b55a48;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.container {
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
  min-height: 100vh;
}
@media screen and (max-width: 414px) {
  .container {
    padding-bottom: 45px;
  }
}

.header {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 56px;
  position: fixed;
  transition: 0.3s;
  z-index: 2;
  background: #c7ffea;
}
.header.float-active {
  transition: 0.3s;
}
@media screen and (max-width: 414px) {
  .header {
    height: 60px;
    padding-right: 32px;
    padding-left: 24px;
    width: 100%;
  }
}
.header .title {
  font-size: 35px;
  font-family: "Hubballi", cursive;
  font-weight: bold;
}
.header .title .menu-link {
  padding: 0;
}

@media screen and (max-width: 414px) {
  .nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(199, 255, 234, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    transition: 0.5s;
  }
  .nav-menu.active {
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 2;
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: "Hubballi", cursive;
}
.menu-item {
  margin-right: 40px;
}
.menu-link {
  -webkit-font-smoothing: initial;
}
@media screen and (max-width: 414px) {
  .menu {
    display: block;
    font-size: 30px;
  }
  .menu-item {
    margin-right: initial;
  }
  .menu-link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 24px;
    text-align: center;
  }
}

.menu-trigger {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 414px) {
  .menu-trigger {
    display: inline-block;
  }
}

.main {
  padding-top: 70px;
}
.main-container {
  width: 820px;
  margin: 24px auto;
}
@media screen and (max-width: 414px) {
  .main-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
  }
}
.main .title-wrapper {
  text-align: center;
}
.main .title-wrapper .title {
  font-size: 30px;
  font-family: "Hubballi", cursive;
  color: #ff8af2;
  background: #c7ffea;
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}
.main .subtitle {
  text-align: center;
  margin-bottom: 16px;
}

.contact-form {
  padding-top: 8px;
  width: 100%;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #c7ffea;
  color: #ff8af2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
@media screen and (max-width: 414px) {
  .footer {
    font-size: 10px;
    height: 45px;
  }
}

.contact-form-wrapper {
  width: 75%;
  margin: 0 auto;
}
.contact-form-wrapper .textfield-wrapper {
  margin-bottom: 24px;
}
.contact-form-wrapper .error-message {
  color: red;
  height: 1em;
}
@media screen and (max-width: 414px) {
  .contact-form-wrapper .error-message {
    font-size: 14px;
  }
}

.send-message {
  position: fixed;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #b55a48;
  text-align: center;
  font-size: 20px;
  color: #fff;
  z-index: 3;
  transform: translateY(-100%);
}
.send-message.active {
  transform: translateY(0%);
}
.send-message.success {
  background: #ff8af2;
  color: #fff;
}

.second-title-container {
  margin-bottom: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .second-title-container {
    display: block;
  }
}

.second-title {
  color: #ff8af2;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
  border-top: 5px solid #c7ffea;
  border-bottom: 5px solid #c7ffea;
  border-radius: 5px;
  float: left;
  margin-right: 24px;
  font-family: "Hubballi", cursive;
}
@media screen and (max-width: 414px) {
  .second-title {
    float: none;
    margin-right: 0;
  }
}
@media screen and (max-width: 414px) {
  .second-title-wrapper {
    text-align: center;
    margin-bottom: 8px;
  }
}

.language-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 32px;
  min-height: 130px;
}

.language-item {
  margin: 0 24px;
}
@media screen and (max-width: 414px) {
  .language-item {
    width: 100%;
    margin-bottom: 24px;
  }
  .language-item:last-child {
    margin-bottom: 0;
  }
}

.techniques-wrapper {
  overflow: hidden;
  padding-top: 5px;
  box-sizing: border-box;
}

.modal-technique-title {
  text-align: center;
  color: #ff8af2;
  font-size: 30px;
  font-family: "Hubballi", cursive;
}

.technique-card {
  width: calc(50% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
}
@media screen and (max-width: 414px) {
  .technique-card {
    width: 100%;
    margin-right: 0;
  }
}
.technique-card:nth-child(even) {
  margin-right: 0;
}

.technique-modal {
  border-radius: 16px;
}
@media screen and (max-width: 414px) {
  .technique-modal {
    width: 75vw !important;
    padding: 24px !important;
  }
}

.badge {
  color: #ff8af2;
  height: 1.5em;
  margin-right: 8px;
  border-bottom: 3px solid #c7ffea;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
