@import url('https://fonts.googleapis.com/css?family=Hubballi');
@import url('./reset.css');

// ==================================
// variable
// ==================================
$green : #c7ffea;
$pink: #ff8af2;
$brown: #b55a48;

$font-color_default: #666;
$font-color_date: #e37b89;
$color_corp: #f780ff;
$font-color_sub1: #b6a489;

$site-width: 980px;

$font-size_s: 5px;
$font-size_m: 10px;
$font-size_default: 14px;
$font-size_l: 20px;
$font-size_xl: 25px;
$font-size_xxl: 30px;
$font-size_3l: 35px;

$space_s: 8px;
$space_m: 16px;
$space_l: 24px;
$space_xl: 32px;
$space_xxl: 40px;
$space_3l: 56px;

$font-family_corp: 'Hubballi', cursive;

// ==================================
// responsive breakpont
// ==================================

$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ==================================
// base
// ==================================
html, body {

  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.08em;
}


p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $pink;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: $brown;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

// ==================================
// container
// ==================================
.container{
  position: relative;
  padding-bottom: 50px;
  @include mq(){
    padding-bottom: 45px;
  }
  box-sizing: border-box;
  min-height: 100vh;
}
// ==================================
// header
// ==================================
.header {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  color: $font-color_default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space_3l;
  padding-right: $space_3l;
  position: fixed;
  transition: .3s;
  z-index: 2;
  background: $green;

  &.float-active {
    transition: .3s;
  }
  @include mq() {
    height: 60px;
    padding-right: $space_xl;
    padding-left: $space_l;
    width: 100%;
  }
  .title {
    font-size: $font-size_3l;
    font-family: $font-family_corp;
    font-weight: bold;
    & .menu-link{
      padding: 0;
    }
  }

}

// ==================================
// menu
// ==================================
.nav-menu {
  @include mq() {

    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba($green, .85);
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    transition: .5s;
    &.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: $font-size_xl;
  font-family: $font-family_corp;
  &-item {
    margin-right: $space_xxl;
  }
  &-link {
    -webkit-font-smoothing: initial;
  }
  @include mq() {
    display: block;
    font-size: $font-size_xxl;
    &-item {
      margin-right: initial;
    }
    &-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: $space_l;
      text-align: center;
    }
  }
}
.menu-trigger {
  display: none;
  @include mq() {
    display: inline-block;
  }
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

// ==================================
// main
// ==================================
.main{
  padding-top: 70px;

  &-container{
    width: 820px;
    margin: $space_l auto;
    @include mq() {
      width: 100%;
    }
  }
  .title-wrapper{
    text-align: center;
    .title{
      font-size: $font-size_xxl;
      font-family: $font-family_corp;
      color: $pink;
      display: inline-block;
      box-sizing: border-box;
      padding: 0px 5px;
      border-top: 6px solid $green;
      border-bottom: 5px solid $green;
      margin-bottom: $space_s;
      border-radius: 5px;
    }
  }
  .subtitle{
    text-align: center;
    margin-bottom: $space_l;
  }
}


.contact-form{
  padding-top: $space_s;
  width: 100%;
  overflow: hidden;
}

// ==================================
// footer
// ==================================
.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  background: $green;
  color: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  @include mq() {
    font-size: $font-size_m;
    height: 45px;
  }
}


// ==================================
// contact
// ==================================

.contact-form-wrapper{
  width: 75%;
  margin: 0 auto;
  .textfield-wrapper{
    margin-bottom: $space_l;
  }
  .error-message{
    color: red;
    height: 1em;
    @include mq(){
      font-size: 14px;
    }
  }
}


.send-message{
  position: fixed;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: $brown;
  text-align: center;
  font-size: $font-size_l;
  color: #fff;
  z-index: 3;
  transform: translateY(-100%);
  &.active{
    transform: translateY(0%);
  }
  &.success{
    background: $pink;
    color: #fff;
  }
}



// ==================================
// skill
// ==================================


.language-heading {
 margin-bottom: $space_m;
 overflow: hidden;
}
.second-title{
  color: $brown;
  font-size: $font-size_l;
  display: inline-block;
  padding: $space_s;
  box-sizing: border-box;
  background: $green;
  border-radius: $space_s;
  float: left;
  margin-right: $space_l;
}

.language-container {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
}
.language-item {
  margin: 0 $space_l;
}
