@import url('./reset.css');
@font-face {
	font-family: 'Hubballi';
	src: url(/font/Hubballi-Regular.ttf);
}
// ==================================
// base
// ==================================
html, body {

  width: 100%;
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.08em;
}


p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #ff8af2;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #b55a48;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}
